*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
 background-image: url(drop.jpg);
 background-size: cover;
 background-position: center;

 }
 .menu
 {
     background:rgb(22, 99, 22);
     text-align: center;
 }
 .menu ul
 {
     display: inline-flex;
     list-style: none;
     color: aliceblue;
 }
 .menu ul li
 {
     width: 120px;
     margin: 15px;
}
.menu ul li a
{
    text-decoration: none;
    color: aliceblue;
}
.menu ul li:hover
{
    background: #2bab0d;
    border-radius: 6px;
}
.menu1
{
    display: none;
}
.menu ul li:hover .menu1
{
    display:block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: 15px;
}
.menu ul li:hover .menu1 ul
{
    display: block;
    margin: 10px;
}
.menu ul li:hover .menu1 ul li
{   
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted wheat;
    text-align: left;
    background: transparent;
    border-radius: 0;
}
.menu ul li:hover .menu1 ul li:last-child
{
    border-bottom: none ;
}
.menu ul li:hover .menu1 ul li a:hover
{
    color: aquamarine;
}
.sub-menu1
{
    display: none;
}
.hover-me:hover .sub-menu1
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}
